html,
body {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Raleway', arial, verdana, sans-serif; }

.center {
  width: 90%;
  margin: auto; }

.left {
  float: left; }

.right {
  float: right; }

#site-header-inner {
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  overflow: hidden; }

.site-navigation {
  margin-top: 25px; }
  .site-navigation ul {
    margin-bottom: 0;
    display: inline;
    margin-left: auto; }
  .site-navigation li {
    display: inline;
    margin: 0 0 0 30px; }
    .site-navigation li a {
      text-transform: uppercase;
      font-size: 8pt;
      font-weight: 700;
      text-decoration: none;
      color: #aaaeb1;
      letter-spacing: 3px; }
    .site-navigation li a:hover {
      color: #183348; }
    .site-navigation li a:active {
      color: black; }

.banner {
  background-image: url(img/indexbanner-bg3.jpg);
  background-position: top center;
  background-size: cover;
  height: 80vh;
  display: flex; }

#text-header {
  width: 70%;
  top: 50%;
  background-color: transparent; }
  #text-header h2 {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    color: white;
    font-weight: bold; }
  #text-header p {
    width: 50%;
    line-height: 20pt;
    font-size: 14px;
    color: #9fa9b3; }

#buscador {
  display: flex;
  margin: auto;
  height: 100px;
  transform: translateY(-50%);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); }
  #buscador input[type="Search"] {
    font-size: 18px;
    padding-left: 3%;
    width: 85%;
    color: #acb0b1;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 12pt;
    border: none;
    background-color: white; }
  #buscador button {
    width: 15%;
    background-color: #00adf2;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 8pt;
    letter-spacing: 3px;
    border: none;
    border-radius: 0; }

.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto; }

.service {
  margin: auto;
  text-align: center;
  padding-top: 5%; }
  .service p {
    font-size: 10pt;
    color: #404445;
    line-height: 18pt; }
  .service div p {
    font-weight: bold;
    color: black;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px; }

.icon-dots {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 80px; }

.header-features {
  margin: auto;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 3%;
  font-size: 14pt;
  font-weight: lighter;
  color: #7c7b80; }
  .header-features h2 {
    font-size: 30pt;
    color: #162836;
    font-weight: bold; }

.features {
  /*
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;*/
  margin: auto;
  overflow: hidden;
  z-index: 1;
  position: relative; }

.features-left {
  padding-top: 5%; }
  .features-left #feature-text {
    text-align: right;
    padding-right: 5%;
    padding-top: 5%; }
    .features-left #feature-text strong {
      text-transform: uppercase;
      font-size: 14px;
      color: #192c3b;
      font-weight: bold;
      letter-spacing: 3px; }
    .features-left #feature-text p {
      font-size: 13px;
      line-height: 25px; }

.features-right {
  padding-top: 5%;
  /*
  	.feature{
  		display: flex;
  		flex-direction: row;
  	}*/ }
  .features-right #feature-text {
    text-align: left;
    padding-left: 5%;
    padding-top: 5%; }
    .features-right #feature-text strong {
      text-transform: uppercase;
      font-size: 14px;
      color: #192c3b;
      font-weight: bold;
      letter-spacing: 3px; }
    .features-right #feature-text p {
      font-size: 13px;
      line-height: 25px; }

.feature-center figure {
  margin: 0;
  text-align: center; }

#feature {
  padding-bottom: 10%; }

.info-plans {
  background-image: url(img/pricing-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  transform: translateY(-15%);
  background-size: cover;
  padding-bottom: 15%; }

.info {
  text-align: center; }

.header-info {
  margin: auto;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
  font-size: 14pt;
  font-weight: lighter;
  color: #7c7b80; }
  .header-info h2 {
    font-size: 30pt;
    color: #162836; }

#planes {
  margin-top: -15%;
  margin-bottom: 4%; }

.plan {
  padding: 26% 8%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .plan hr {
    border: 0;
    border-top: 1px solid #e9e9e9;
    margin-top: 30%; }
  .plan table {
    width: 70%;
    margin: auto; }
    .plan table th {
      font-weight: 300;
      font-size: 10pt;
      color: #71787e;
      text-align: left; }
  .plan button {
    width: 100%;
    height: 42px;
    border: none;
    background-color: #00adf2;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 8pt;
    letter-spacing: 3px;
    border-radius: 5px;
    margin-top: 7%; }

.plan-name {
  font-weight: 700;
  font-size: 10pt;
  color: #212a31;
  letter-spacing: 3px;
  text-transform: uppercase; }

.price {
  font-family: 'Open Sans', sans-serif;
  font-size: 44pt;
  font-weight: 700;
  color: #212a31;
  margin-top: 7%; }
  .price sup {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    color: #212a31; }

.month {
  font-weight: 300;
  font-size: 10pt;
  color: #71787e; }

.table thead tr th {
  border: none; }
.table thead tr td {
  border: none; }

.color-blue td {
  color: #00adf2; }

.color-orange td {
  color: orange; }

.color-orange-dark td {
  color: orange; }

.color-red td {
  color: red; }

.pie {
  height: 225px;
  background-color: #142e3f;
  margin: auto; }
  .pie #texto-pie {
    top: 50%;
    transform: translateY(-50%);
    position: relative; }
    .pie #texto-pie p {
      font-size: 30px;
      font-weight: 100;
      color: white;
      text-align: center; }
    .pie #texto-pie strong {
      color: #04aaf8;
      font-family: 'Open Sans', sans-serif; }

#footer {
  background-color: #091722;
  height: 110px;
  font-family: "Raleway", sans-serif; }
  #footer p {
    color: #9ea3a9;
    font-size: 12px;
    font-weight: 300; }
  #footer li {
    display: inline;
    margin: 0 0 0 20px; }
    #footer li a {
      font-size: 9pt;
      text-decoration: none;
      color: #acb0b9; }
    #footer li a:hover {
      color: #00adf2; }
    #footer li a:active {
      color: #00adf2; }

.footer-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  .footer-inner nav {
    margin-left: auto; }

.icon:hover {
  -webkit-transform: scale(1.35);
  transform: scale(1.35); }

.icon {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out; }

.inner-banner-contact {
  background-image: url(img/indexbanner-bg2.jpg);
  background-position: top center;
  background-size: cover;
  height: 50vh;
  text-align: center;
  margin-top: -30px; }
  .inner-banner-contact .text-banner-contact {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: #c0c4cd;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    line-height: 20pt; }
    .inner-banner-contact .text-banner-contact h2 {
      color: white;
      font-size: 30pt; }

.header-contact {
  font-family: "Raleway", sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 10pt;
  font-weight: lighter;
  color: #7c7b80; }
  .header-contact h2 {
    font-size: 30pt;
    color: #162836; }

#form-contact {
  width: 70%;
  text-align: center; }
  #form-contact form {
    margin: auto;
    display: flex;
    flex-direction: row; }

.input-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 10px; }
  .input-left input {
    height: 52px;
    margin-bottom: 14px;
    border: 1px solid #e0e4e5;
    border-radius: 3px;
    padding-left: 15px;
    font-family: "Raleway", sans-serif; }

.input-right {
  width: 50%;
  padding-left: 10px; }
  .input-right textarea {
    box-sizing: border-box;
    width: 100%;
    height: 197px;
    border: 1px solid #e0e4e5;
    border-radius: 3px;
    padding-left: 15px;
    font-family: "Raleway", sans-serif;
    padding-top: 15px;
    resize: none; }

.button-send {
  width: 150px;
  height: 42px;
  border: none;
  background-color: #00adf2;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 8pt;
  letter-spacing: 3px;
  border-radius: 5px;
  margin-top: 20px; }

@media screen and (max-width: 940px) {
  .icon-dots {
    display: none; }

  .features {
    /*flex-direction: column;*/
    width: 60%;
    text-align: center;
    z-index: 0; }

  #feature {
    padding-bottom: 5%; }

  .features-left {
    width: 100%;
    margin: auto;
    padding-top: 0; }
    .features-left #feature {
      display: flex;
      flex-direction: row-reverse; }
    .features-left #feature-text {
      text-align: left;
      padding-left: 5%;
      padding-top: 2%; }

  .features-right {
    width: 100%;
    margin: auto;
    margin-bottom: 15%;
    padding-top: 0; }
    .features-right #feature-text {
      padding-top: 2%; }

  .feature-center {
    padding-bottom: 5%; }

  #planes {
    transform: translateY(0%);
    background-image: none; }

  .info {
    background-image: url(img/pricing-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat; }

  .header-info {
    margin-bottom: 5%; }
    .header-info img {
      display: none; }

  .plan {
    margin: 2%;
    min-width: 40%; }
    .plan hr {
      margin-top: 10%; }

  #texto-pie {
    margin: auto;
    width: 80%; } }
@media screen and (max-width: 580px) {
  header {
    margin-bottom: 30px; }

  #site-header-inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }

  .site-navigation {
    margin: 0; }
    .site-navigation ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0; }
      .site-navigation ul li {
        display: inline;
        margin: 0; }

  #buscador {
    transform: translateY(0);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15); }
    #buscador input[type="submit"] {
      width: 25%; }

  .banner {
    display: none; }

  .service {
    padding-top: 50px; }

  .icon-dots {
    display: none; }

  .info {
    background-size: 130%;
    background-position-x: inherit; }

  .plan {
    min-width: 40%; }

  .header-features {
    width: 90%; }

  .features {
    width: 90%; }

  .feature-center {
    margin-bottom: 20px; }

  .featured-image {
    margin: auto; }

  .footer-inner {
    flex-direction: column; }
    .footer-inner nav {
      margin: 0; }
      .footer-inner nav ul {
        padding: 0; }
        .footer-inner nav ul li {
          display: inline;
          margin: 0 10px 0 10px; }

  #arrow {
    display: none; }

  .inner-banner-contact {
    margin-top: 0; }

  .text-banner-contact {
    width: 80%; }

  #form-contact {
    width: 90%; }
    #form-contact form {
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }

  .input-left {
    width: 100%;
    padding-right: 0; }

  .input-right {
    width: 100%;
    padding-left: 0; } }

/*# sourceMappingURL=theme.css.map */
