html,
body {
	padding: 0;
	margin: 0;
}


body {
	font-family: arial, verdana, sans-serif;
}

.center{
	width: 80%;
	margin: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

header {
	height: 8vh;
}

#site-header-inner {
	overflow: hidden;
	font-family: 'Raleway', sans-serif;



}

header nav ul li {
	display: inline;
	text-transform: uppercase;
	padding-left: 50px;

}

.site-navigation ul li a{
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	color: #afb3b6;
	letter-spacing: 2px;

}

.site-navigation ul li a:hover {
	color: #183348;
	
}

.site-navigation {
	position: relative;
	transform: translateY(20px);
}
 
 #site-content .banner{
 	background-image: url(img/indexbanner-bg3.jpg);
 	background-position: top center;
 	background-size: cover;
 	height: 80vh;
 }

 div #texto-header {
 	top: 50%;
 	transform: translateY(-50%);
 	position: relative;
 	color: white;
 }

 section div h2 {
 	font-size: 48px;
 }

 section div p {
 	font-size: 14px;
 	color: #9fa9b3;
 }

#buscador {
	display: flex;
	margin: auto;
	height: 100px;
	transform: translateY(-50%);
	box-shadow: 0px 3px 5px rgba( 0, 0, 0, 0.05);

}

#buscador input[type="Search"]{
	font-size: 18px;
	padding-left: 3%;
	width: 85%;
	color: #acb0b1;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 12pt;
	border: none;
	background-color: white;
}

#buscador input[type="submit"]{
	width: 15%;
	background-color: #00adf2;
	color: white;
	text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 8pt;
    letter-spacing: 3px;
    border: none;

	
}

.services {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;

}

.service {
	font-family: 'Raleway', sans-serif;
	margin: auto;
	text-align: center;
	padding-top: 5%;
}
.service div p{
	font-weight: bold;
	color: black;
	padding-top: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 13px;

}



.header-features {
	font-family: "Raleway", sans-serif;
	margin: auto;
	text-align: center;
	padding-top: 6%;
	padding-bottom: 3%;
}

.header-features h2{
	color: #162836;
	
}

.icon-dots {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	flex-direction: row;
}





.features {	
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	overflow: hidden;
	z-index: 1;
	position: relative;

}



.features-left {
	padding-top: 5%
}
.features-right {
	padding-top: 5%
}


.features-left .feature{
	display: flex;
	flex-direction: row-reverse;


}

.features-left .feature-text{
	text-align: right;
	padding-right: 5%;
	padding-top: 5%;
}



.features-left .feature-text strong{
	text-transform: uppercase;
	font-size: 14px;
	color: #192c3b;
	font-weight: bold;
	letter-spacing: 3px;
}

.features-left .feature-text p{
	font-size: 14px;
}

.features-right .feature{
	display: flex;
	flex-direction: row;


}

.features-right .feature-text{
	text-align: left;
	padding-left: 5%;
	padding-top: 5%;
}

.features-right .feature-text strong{
	text-transform: uppercase;
	font-size: 14px;
	color: #192c3b;
	font-weight: bold;
	letter-spacing: 3px;
}

.features-right .feature-text p{
	font-size: 14px;
}

.feature {
	padding-bottom: 20%;
}

#planes{
	background-image: url(img/pricing-bg.jpg);
	background-position: top center;
 	background-size: cover;
 	height: 90vh;
 	transform: translateY(-15%);
 	margin-bottom: 10%;
 	margin-bottom: 250px;
 	


}

.info{
	text-align: center;
	
 	
}
.header-info {
	font-family: "Raleway", sans-serif;
	margin: auto;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 3%;
}

.header-info h2{
	color: #162836;
	
}



.plans {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;
	justify-content: center;

	
}

.plan{
	margin: 1%;
	width: 18%;
	padding: 8% 2% 2% 2%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.1);

}

.plan-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: #212a31 ;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-size: 44pt;
    font-weight: 700;
    color: #212a31 ;
    margin-top: 7%;
}

.price sup {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    color: #212a31 ;
}

.month {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #71787e ;
}

.plan hr {
    border: 0;
    border-top: 1px solid #e9e9e9 ; 
    margin-top: 30%;
}

.plan table {
    width: 70%;
    margin: auto;
}

.plan table th {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #71787e ;
    text-align: left;
    
}

.plan button {
    width: 100%;
    height: 42px;
    border: none;
    background-color: #00adf2 ;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 8pt;
    letter-spacing: 3px;
    border-radius: 5px;
    margin-top: 7%;


}


.pie{

	height: 225px;
	background-color: #142e3f;
	margin: auto;


	
}

div #texto-pie {
	top: 50%;
 	transform: translateY(-50%);
 	position: relative;
	
 }

 div #texto-pie p {
 	font-family: 'Raleway', sans-serif;
 	font-size: 30px;
 	font-weight: 100;
	color: white;
	text-align: center;
}

div #texto-pie strong {
	color: #04aaf8;
	font-family: 'Open Sans', sans-serif;


}

#site-footer {
	height: 110px;
	background-color: #091722;
	position: relative;

}

.iner-footer {
	top: 30%;
	position: relative;
	
}

.iner-footer p {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #cfd3dc;

}

#site-footer nav ul li {
	display: inline;
	text-align: right;
	padding-left: 20px;


}


#site-footer nav ul li a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #cfd3dc;


}

/*

.iner-footer {
	width: 50px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: relative;
	margin: auto;
	
}







#site-footer nav{
	transform: translateY(-5px);

}



#site-footer nav ul li a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #cfd3dc;
	margin-left: 20%;

}



#site-footer nav ul li {
	display: inline;
	text-align: right;
	
	

}

#marca-registrada p{
	margin: 0;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #cfd3dc;
	padding-top: 48px;
	

}






